{% load static %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ScholarVerify - Responsive Education HTML5 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/png" href="{% static 'ScholarLink/assets/images/icon/favicon.ico' %}">
    <!-- all css here -->
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/slicknav.min.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/responsive.css' %}">
    <!--color css-->
    <link rel="stylesheet" id="triggerColor" href="{% static 'ScholarLink/assets/css/triggerplate/color-0.css' %}">
    <!-- modernizr css -->
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/footer.css'%}"/>
    <script src="{% static 'ScholarLink/assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- prealoader area end -->
    <!-- header area start -->
    <header id="header">
        <!-- header top area start -->
        <div class="header-top">
            <div class="container">
                <div class="row d-flex flex-center">
                    <div class="col-sm-8">
                        <div class="ht-address">
                            <ul>
                                <li><i class="fa fa-phone"></i>+ 88 01916 444137</li>
                                <li><i class="fa fa-envelope"></i>info@example.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="ht-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header top area end -->
        <!-- header bottom area start -->
        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom-inner">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-sm-9">
                            <div class="logo">
                                <a href="{% url 'index' %}"><img src='{% static "ScholarLink/assets/images/icon/logo-middle.png" %}' alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 d-none d-lg-block">
                            <div class="main-menu">
                                <nav>
                                    <ul id="m_menu_active">
                                        <li><a href="{% url 'index' %}">Home</a>
                                        </li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="javascript:void(0);">Dashboard</a>
                                        <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- <div class="col-xl-1 col-lg-2 col-sm-3">
                            <div class="hb-right">
                                <ul> 
                                    <li class="search_btn"><i class="fa fa-search"></i></li>
                                </ul>
                            </div>
                        </div> -->
                        <div class="col-12 d-block d-lg-none">
                            <div id="mobile_menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header bottom area end -->
    </header>
    <!-- header area end -->
    <!-- offset search area start -->
    <div class="offset-search">
        <form action="#">
            <input type="text" name="search" placeholder="Sarch here...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- offset search area end -->
    <!-- body overlay area start -->
    <div class="body_overlay"></div>
    <!-- body overlay area end -->
    <!-- crumbs area start -->
    <div class="crumbs-area">
        <div class="container">
            <div class="crumb-content">
                <h4 class="crumb-title"><span>Contact </span>Us</h4>
            </div>
        </div>
    </div>
    <!-- crumbs area end -->
    <!-- contact info area start -->
    <div class="contact-info ptb--120">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div>
    <!-- contact info area end -->
    <!-- contact form area start -->
    <div class="contact-form-area pb--120" style="margin-top: -60px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="cnt-title">
                        <h4>Get in touch <span>with us</span></h4>
                        <p style="color: black;">We welcome your inquiries and appreciate your interest in contacting
                            us. If you have any
                            questions, require assistance, or wish to discuss any matter with our team, please do not
                            hesitate to reach out. You may use the contact form provided below or contact us via the
                            details listed. We value your communication and are committed to providing prompt and
                            helpful responses. Thank you for considering us as your point of contact." </p>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="name" placeholder="Enter your name">
                        </div>
                        <div class="col-md-4">
                            <input type="email" name="email" placeholder="Your Email">
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="subject" placeholder="Subject">
                        </div>
                        <div class="col-12">
                            <textarea name="msg" id="msg" placeholder="Your message here"></textarea>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit">SEND TO US</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- contact form area end -->

    <!-- footer area start -->
    <footer>
        <div class="main-content">
            <div class="left box">
                <h2 style="color: white;">About us</h2>
                <div class="content">
                    <p>ScholarVerify, your trusted platform, bridges the gap for students studying in different states.
                    </p>
                    <div class="social">
                        <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="https://instagram.com/coding.np"><span class="fab fa-instagram"></span></a>
                        <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a>
                    </div>
                </div>
            </div>
            <div class="center box">
                <h2 style="color: white;">Address</h2>
                <div class="content">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="text">Birendranagar, Surkhet</span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone-alt"></span>
                        <span class="text">+089-765432100</span>
                    </div>
                    <div class="email">
                        <span class="fas fa-envelope"></span>
                        <span class="text">abc@example.com</span>
                    </div>
                </div>
            </div>
            <div class="right box">
                <h2 style="color: white;">Contact us</h2>
                <div class="content">
                    <form action="#">
                        <div class="email">
                            <div class="text">Email *</div>
                            <input type="email" required>
                        </div>
                        <div class="msg">
                            <div class="text">Message *</div>
                            <textarea rows="2" cols="25" required></textarea>
                        </div>
                        <div class="btn">
                            <button type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom">
            <center>
                <span class="credit">Created By <a href="https://www.codingnepalweb.com">Scholar Verify</a> | </span>
                <span class="far fa-copyright"></span><span> 2020 All rights reserved.</span>
            </center>
        </div>
    </footer>
    <!-- footer area end -->


    <!-- jquery latest version -->
    <script src='{% static "ScholarLink/assets/js/vendor/jquery-2.2.4.min.js" %}'></script>
    <!-- bootstrap 4 js -->
    <script src='{% static "ScholarLink/assets/js/bootstrap.min.js" %}'></script>
    <!-- others plugins -->
    <script src='{% static "ScholarLink/assets/js/owl.carousel.min.js" %}'></script>
    <script src='{% static "ScholarLink/assets/js/jquery.magnific-popup.min.js" %}'></script>
    <script src='{% static "ScholarLink/assets/js/jquery.slicknav.min.js" %}'></script>
    <script src='{% static "ScholarLink/assets/js/plugins.js" %}'></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsUcTjt43mTheN9ruCsQVgBE-wgN6_AfY&#038"></script>
    <script src='{% static "ScholarLink/assets/js/google-maps.js" %}'></script>
    <script src='{% static "ScholarLink/assets/js/scripts.js" %}'></script>
</body>

</html>