{% load static %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ScholarVerify - Responsive Education HTML5 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/png" href="{% static 'ScholarLink/assets/images/icon/favicon.ico' %}">
    <!-- all css here -->
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/slicknav.min.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/responsive.css' %}">
    <!--color css-->
    <link rel="stylesheet" id="triggerColor" href="{% static 'ScholarLink/assets/css/triggerplate/color-0.css' %}">
    <!-- modernizr css -->
    <script src="{% static 'ScholarLink/assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/footer.css' %}">
</head>

<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- prealoader area end -->

    <!-- header area start -->
    <header id="header">
        <!-- header two area start -->
        <div class="header-two">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-sm-6 d-block d-lg-none">
                        <div class="logo">
                            <a href="{% url 'index' %}"><img src="{% static 'ScholarLink/assets/images/icon/logo.png' %}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-9 offset-lg-1 d-none d-lg-block">
                        <div class="main-menu menu-style2">
                            <nav>
                                <ul id="m_menu_active">
                                    <li class="active"><a href="{% url 'index' %}">Home</a>
                                    </li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li class="middle-logo">
                                        <a href="{% url 'index' %}">
                                            <img src="{% static 'ScholarLink/assets/images/icon/logo-middle.png' %}" alt="logo">
                                            <img class="hb-bottom-shape" src="{% static 'ScholarLink/assets/images/icon/hb-bottom-shape.png' %}"
                                                alt="logo">
                                        </a>
                                    </li>
                                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-5">
                        <div class="header-bottom-right-style-2">
                            {% if user.is_authenticated %}
                            <ul>
                                <li><a class="btn btn-light btn-round" href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                            {% else %}
                            <ul>
                                <li><a class="btn btn-light btn-round" href="{% url 'login' %}">Log in</a></li>
                                <li><a class="btn btn-primary btn-round" class="active" href="{% url 'register' %}">Sign Up</a>
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                        <div class="col-12 d-block d-lg-none">
                            <div id="mobile_menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
            </div>
            <!-- header two area end -->
    </header>
    <!-- header area end -->
    <!-- offset search area start -->
    <div class="offset-search">
        <form action="#">
            <input type="text" name="search" placeholder="Search here...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="body_overlay"></div>
    <div class="hero-area has-color">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="hero-content">
                        <h3>ScholarShips</h3>
                        <h1 class="mb-5"><span class="primary-color">Build your Successful</span><b
                                class="line-break"></b>Future with ScholarVerify</h1>
                        <p class="text-white-50">Attain Institution-Level Verification and Access the Scholarships You
                            Truly Deserve</p>
                        <form action="#">
                            <div class="form-input ">
                                <br><br>
                                <div class="buttons" style="display: flex; justify-content: space-between;">
                                    <a class="btn btn-primary btn-sm p-4 " href="{% url 'student' %}"
                                        style="border-radius: 25px; margin-top: 20px; margin-right:30px;">Student
                                        Register</a>
                                    <a class="btn btn-primary btn-sm p-4" href="{% url 'institution' %}"
                                        style="border-radius: 25px; margin-top: 20px;">Institute Regsiter</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hero area end -->

    <!-- about area start -->
    <br>
    <br>
    <br>
    <div class="about-area-style2 ptb--120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="about-content-style2 text-center has-color">
                        <div class="section-title-style mb-4">
                            <h2>Welcome to <b class="line-break"></b><span class="text-color">ScholarVerify</span></h2>
                        </div>
                        <p class="text-white-70">
                            ScholarVerify, your trusted platform, bridges the gap for students studying in different
                            states. Our institution-level verification is designed with your needs in mind. We ensure
                            that you receive scholarship benefits, even if your institution isn't registered in your
                            home state's portal. Count on us for a seamless and equitable education journey. Welcome to
                            ScholarVerify where opportunities know no borders.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->

    <!-- course area start -->
    <br>
    <br>
    <br>
    <div class="course-area  ptb--120" style="background-color: #f5ebe0;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="section-title-style2 black-title title-tb text-center">
                        <h2 class="primary-color " style="margin-top:-40px ;">Services Offered</h2>
                        <div>
                            <h3 style="margin-top: 50px; color: #14213d;">Scholarship Listing</h3>
                            <p style="color: #1b263b;">We maintain an up-to-date database of scholarships from various
                                sources, including
                                government programs, private organizations, and educational institutions. These
                                scholarships cover a wide range of fields, disciplines, and eligibility criteria.
                                Users can search scholarships based on their specific needs and
                                qualifications.</p>
                        </div>
                        <div>
                            <h3 style="margin-top: 50px; color: #14213d;"> Application Process</h3>
                            <p style="color: #1b263b;">We offer step-by-step guidance on the application process for
                                each scholarship. This includes
                                details on required documents, deadlines, and submission procedures. We aim to make the
                                application process as straightforward as possible, reducing the burden on students.</p>
                        </div>
                        <div>
                            <h3 style="margin-top: 50px; color: #14213d;"> Deadline Reminders</h3>
                            <p style="color: #1b263b;">To ensure that students never miss an important scholarship
                                deadline, we offer deadline reminders. Users can opt to receive email or SMS
                                notifications well in advance of the application closing dates, helping them stay
                                organized and on track.</p>
                        </div>
                        <div>
                            <h3 style="margin-top: 50px; color: #14213d;"> User Support</h3>
                            <p style="color: #1b263b;">Our dedicated support team is available to assist students with
                                any questions or concerns related to scholarships. Whether it's clarifying eligibility
                                requirements or troubleshooting application issues, we are here to provide prompt and
                                helpful assistance through our FAQ section</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- course area end -->

    <!-- take toure area start -->
    <!-- take toure area end -->

    <!-- course area start -->
    <!-- course area end -->

    <br>
    <br>
    <br>

    <div class="testimonial-area ptb--120"><!-- testimonial area start -->
        <img class="tst-bg" src="{% static 'ScholarLink/assets/images/bg/tst-bg-shape.png' %}" alt="image">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <div class="tst-carousel owl-carousel">
                        <div class="testimonial-content pb--40">
                            <div class="section-title sec-style-two">
                                <span class="text-uppercase primary-color mb-0">Happy students</span>
                                <h2>Testimonial</h2>
                            </div>
                            <h3>"ScholarVerify has been a game-changer for me. As an out-of-state student, I faced
                                numerous challenges accessing scholarships. Thanks to ScholarVerify, the process is now
                                seamless, and I'm receiving the support I need to excel in my studies."</h3>
                            <h4>-John D</h4>
                        </div>
                        <div class="testimonial-content pb--40">
                            <div class="section-title sec-style-two">
                                <span class="text-uppercase primary-color mb-0">Happy students</span>
                                <h2>Testimonial</h2>
                            </div>
                            <h3>"I can't express how thankful I am for ScholarVerify. It's a lifeline for students like
                                me who study away from home. The platform's institution-level verification made a world
                                of difference, and I'm finally getting the financial aid I deserve"</h3>
                            <h4>-Sarah L</h4>
                        </div>
                        <div class="testimonial-content pb--40">
                            <div class="section-title sec-style-two">
                                <span class="text-uppercase primary-color mb-0">Happy students </span>
                                <h2>Testimonial</h2>
                            </div>
                            <h3> "ScholarVerify has simplified what used to be a complex and frustrating process. Now, I
                                can confidently pursue my dreams without worrying about missing out on scholarships.
                                It's a must-have resource for every student."</h3>
                            <h4>-Emily M</h4>
                        </div>
                    </div>
                </div><!-- row -->
            </div><!-- row -->
        </div><!-- container -->
    </div>
    <!-- events area start -->
    <br>
    <br>
    <br>

    <div class="event-area  pt--120 pb--80" style="background-color: #f5ebe0; ">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="section-title-style2 black-title text-center">
                        <h2 style="margin-top:-100px ; margin-bottom: 30px;" class="primary-color">Our Commitment</h2>
                        <h5 style="font-family: 'Roboto', sans-serif;">At ScholarVerify, we are committed to ensuring
                            that no deserving
                            student is denied
                            scholarship benefits due to bureaucratic barriers. Our technical solution and dedicated team
                            are here to support you in your pursuit of higher education, regardless of your location. We
                            believe that education should be accessible to all, and our mission is to make that a
                            reality for students studying in different states. Join us in unlocking the doors to
                            educational opportunities and securing your academic future.</h5>
                    </div>
                </div>
            </div>
            <h2 style="margin-left: 25%;">How we address the issue</h2>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body" style="background-color: #ecd8c1;">
                                <h5 class="card-title " style="font-size: 20px; color: #000000;"">Comprehensive Database</h5>
                                <p class=" card-text" style="color: #03071e;">We maintain an extensive, constantly
                                    updated scholarship database. This resource includes scholarships available at the
                                    institution level and covers a wide spectrum of sources, such as central government
                                    schemes, state-level programs, private organizations, and educational institutions.
                                    Whether you're pursuing education in your home state or studying across state lines,
                                    our platform provides easy access to scholarship information tailored to your
                                    courses and backgrounds. With our help, you can explore a wealth of opportunities
                                    and take the first step toward securing your academic future.
                                    discover the scholarships waiting just for you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="background-color: #ecd8c1;">
                            <div class="card-body">
                                <h5 class="card-title " style="color: #000000;">Cross-State Verification</h5>
                                <p class="card-text" style="color: #03071e;">Our innovative technical solution
                                    revolutionizes scholarship
                                    access for students studying across state lines. Even if your institution isn't
                                    registered in your home state's portal, we seamlessly verify your enrollment and
                                    eligibility. Our dedicated team collaborates with educational institutions and
                                    authorities to expedite the processing of your scholarship applications, ensuring
                                    that you receive the financial support you deserve. Say goodbye to bureaucratic
                                    hurdles and hello to hassle-free scholarship benefits with [Website Name]. Your
                                    academic aspirations are our top priority, regardless of your location. Join us in
                                    making education accessible to all.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="background-color: #ecd8c1;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #000000;">Advocacy and Support</h5>
                                <p class="card-text" style="color: #03071e;"> We stand as your advocates, giving the
                                    rights of students
                                    pursuing education in different states. Our close collaboration with relevant
                                    authorities ensures that the scholarship application process is streamlined and
                                    efficient, reducing bureaucratic roadblocks. Our dedicated support team is your
                                    trusted ally, ready to address your concerns and provide unwavering assistance at
                                    every step of your educational journey. With us by your side, you can navigate the
                                    complexities of scholarship applications with confidence, knowing that your academic
                                    aspirations are our top priority. Join our community and experience the support you
                                    deserve as you strive for educational excellence.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- events area end -->

    <!-- testimonial-area -->

    <!-- blog area start -->
    <!-- blog area end -->

    <!-- cta area start -->
    <!-- <div class="cta-area secondary-bg has-color cta-area ptb--50 ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <div class="cta-content">
                        <p class="mb-2">Click to Join the Advance Workshop</p>
                        <h2>Training in advance networking</h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cta-btn">
                        <a class="btn btn-light btn-round" href="#">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- cta area end -->

    <!-- footer area start -->
    <br>
    <br>
    <!-- <footer>
                <div class="footer-top  has-color pt--120 pb--30">
                    <div class="container"  style="margin-left: 30%;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="widget widget-company">

                                    <div class="address">
                                        <h6>Office Address</h6>
                                        <p>London Oxford Street, 012 United Kingdom.</p>
                                    </div>
                                    <div class="address">
                                        <h6>Business Phone</h6>
                                        <p>+012 3456 7890</p>
                                    </div>
                                    <div class="address">
                                        <h6>Business Email</h6>
                                        <p>Business@themerocket.net</p>
                                    </div> -->
    <!-- <ul class="social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="widget footer-link">
                                    <h4 class="fwidget-title mb-5 pb-3 primary-color">Footer Menu</h4>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Case Studies</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>About Us</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Our Story</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Blog Post</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Work with Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="widget widget-opening">
                                    <h4 class="fwidget-title mb-5 pb-3 primary-color">Working Day & time</h4>
                                    <p>Architecto beatae vitae dicta sunt ipsam voluptatem quia voluptas sit
                                        aspernatur aut odit
                                        aut fugit</p>
                                    <ul>
                                        <li><span>Mon - Tus :</span>6.00 am - 10.00 pm</li>
                                        <li><span>Wed - Tur :</span>8.00 am - 6.00 pm</li>
                                        <li><span>Friday :</span>3.00 pm - 8.00 pm</li>
                                        <li><span>Sunday :</span>Closed</li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
    <!-- <div class="footer-bottom">
                            <p>Copyright © 2019 <span><a class="primary-color"
                                        href="https://themeforest.net/user/pixelthemez/portfolio"
                                        target="_blank">Edification</a> </span> - All Rights Reserved. Made by
                                <span><a class="primary-color" href="https://furioustheme.com/"
                                        target="_blank">Furioustheme</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </footer> -->
    <!-- footer area end -->
    <footer>
        <div class="main-content">
            <div class="left box">
                <h2 style="color: white;">About us</h2>
                <div class="content">
                    <p>ScholarVerify, your trusted platform, bridges the gap for students studying in different states.
                    </p>
                    <div class="social">
                        <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="https://instagram.com/coding.np"><span class="fab fa-instagram"></span></a>
                        <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a>
                    </div>
                </div>
            </div>
            <div class="center box">
                <h2  style="color: white;">Address</h2>
                <div class="content">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="text">Birendranagar, Surkhet</span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone-alt"></span>
                        <span class="text">+089-765432100</span>
                    </div>
                    <div class="email">
                        <span class="fas fa-envelope"></span>
                        <span class="text">abc@example.com</span>
                    </div>
                </div>
            </div>
            <div class="right box">
                <h2  style="color: white;">Contact us</h2>
                <div class="content">
                    <form action="#">
                        <div class="email">
                            <div class="text">Email *</div>
                            <input type="email" required>
                        </div>
                        <div class="msg">
                            <div class="text">Message *</div>
                            <textarea rows="2" cols="25" required></textarea>
                        </div>
                        <div class="btn">
                            <button type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom">
            <center>
                <span class="credit">Created By <a href="https://www.codingnepalweb.com">Scholar Verify</a> | </span>
                <span class="far fa-copyright"></span><span> 2020 All rights reserved.</span>
            </center>
        </div>
    </footer>
    <!-- footer area end -->
 
    <!-- jquery latest version -->
    <script src="{% static 'ScholarLink/assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static 'ScholarLink/assets/js/bootstrap.min.js' %}"></script>
    <!-- others plugins -->
    <script src="{% static 'ScholarLink/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'ScholarLink/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'ScholarLink/assets/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'ScholarLink/assets/js/plugins.js' %}"></script>
    <script src="{% static 'ScholarLink/assets/js/scripts.js' %}"></script>
</body>

</html>