{% load static %}

<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Signup Form</title>
    <link rel="stylesheet" href="{% static 'ScholarLink/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&family=Diplomata&family=Fjalla+One&family=Kenia&family=Lobster&family=Oswald:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&family=Righteous&display=swap"
        rel="stylesheet">
</head>

<body>
    <h2 style="font-size: 80px; padding-bottom: 30px;color: white ;opacity: 0.9; font-family: 'Oswald', sans-serif;">
        CrossState ScholarVerify</h2>
    <section class="wrapper ">

        <div class="form signup" >
            <header style="font-family: 'Anton', sans-serif; font-weight: 100; color: #ecb912;" >Signup</header>
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            <form id="reg" action="{% url 'register' %}" method="post">
                {% csrf_token %}

                <input type="text" placeholder="Full name" name="username" required />
                <input type="text" placeholder="Email address" name="email" required />
                <input type="password" placeholder="Password" name="password" required />
                <input type="password" placeholder="Confirm Password" name="confirmation" required />
                <div class="checkbox">
                    <input type="checkbox" id="signupCheck" />
                    <label for="signupCheck">I accept all terms & conditions</label>
                </div>
                <a href="javascript:{}" onclick="document.getElementById('reg').submit();" class="linkk" style="text-align: center">Sign Up</a>
            </form>
        </div>

        <div class="form login">
            <header style="font-family: 'Anton', sans-serif; font-weight: 100;color: #ffc300;">Login</header>
            <form id="log" action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <input type="text" placeholder="Username" name="username" required />
                <input type="password" placeholder="Password" name="password" required />
                <a href="#">Forgot password?</a>
                    <a href="javascript:{}" onclick="document.getElementById('log').submit();" class="linkk" style="text-align: center;">Login</a>
            </form>
        </div>

        <script>
            const wrapper = document.querySelector(".wrapper"),
                signupHeader = document.querySelector(".signup header"),
                loginHeader = document.querySelector(".login header");

            loginHeader.addEventListener("click", () => {
                wrapper.classList.add("active");
            });
            signupHeader.addEventListener("click", () => {
                wrapper.classList.remove("active");
            });
        </script>
    </section>
</body>

</html>