{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'ScholarLink/assets/css/upload.css' %}">
    <title>Responsive Dashboard Design #1 | AsmrProg</title>
</head>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="images/logo.png">
                    <h2>Scholar<span class="danger">Verify</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="{% url 'dashboard' %}">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="{% url 'profile' %}">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Profile</h3>
                </a>
                <a href="{% url 'application' %}" class="active">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>My Application</h3>
                </a>
                <a href="{% url 'scholarship' %}">
                    <span class="material-icons-sharp">
                        mail_outline
                    </span>
                    <h3>My Scholarships</h3>
                    <span class="message-count">5</span>
                </a>
                <a href="{% url 'faq' %}">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                    <h3>FAQs</h3>
                </a>
                <a href="{% url 'upload' %}">
                    <span class="material-icons-sharp">
                        report_gmailerrorred
                    </span>
                    <h3>Document Upload</h3>
                </a>
                <a href="{% url 'logout' %}">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>

        <main>

            <div class="recent-orders">
                <div class="table">
                <h2>Steps</h2>
                <div class="row">
                    <p>Name: Priyanshu Gupta</p>
                    <p>Date of birth: Priyanshu Gupta</p>
                    <p>Gender: Male</p>
                    <p>Email Address: The primary email address for communication.</p>
                    <p>Phone Number: A contact number where the student can be reached.</p>
                    <p>Address: The student's current residential address.</p>
                    <p>City: The city of residence.</p>
                    <p>State/Province: The state or province of residence.</p>
                    <p>ZIP/Postal Code: The ZIP or postal code of the residence.</p>
                </div>
            </div>
            </div>

            <div class="wrapper">
                <header>File Uploader JavaScript</header>
                <form action="#">
                <input class="file-input" type="file" name="file" hidden>
                <i class="fas fa-cloud-upload-alt"></i>
                <p>Browse File to Upload</p>
                </form>
                <section class="progress-area"></section>
                <section class="uploaded-area"></section>
            </div>
        </main>

        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Reza</b></p>
                        <small class="text-muted">Student</small>
                    </div>
                    <div class="profile-photo">
                        <img src="images/profile-1.jpg">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="images/logo.png">
                    <h2>AsmrProg</h2>
                    <p>Fullstack Web Developer</p>
                </div>
            </div>

            <div class="reminders">
                <div class="header">
                    <h2>Reminders</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>

                <div class="notification">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            volume_up
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification deactive">
                    <div class="icon">
                        <span class="material-icons-sharp">
                            edit
                        </span>
                    </div>
                    <div class="content">
                        <div class="info">
                            <h3>Workshop</h3>
                            <small class="text_muted">
                                08:00 AM - 12:00 PM
                            </small>
                        </div>
                        <span class="material-icons-sharp">
                            more_vert
                        </span>
                    </div>
                </div>

                <div class="notification add-reminder">
                    <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3>Add Reminder</h3>
                    </div>
                </div>

            </div>

        </div>


    </div>
    <script src="{% static 'ScholarLink/assets/js/script.js' %}"></script>
    <script src="{% static 'ScholarLink/assets/js/index.js' %}"></script>
</body>

</html>